each article in articles
  .col-md-12.postBox
    .col-md-1
      .voteBox
        .upvote
          button.btn.btn-default
            span.glyphicon.glyphicon-chevron-up
        .downvote
          button.btn.btn-default
            span.glyphicon.glyphicon-chevron-down
      .counter
        h3 #{article.score}
    .col-md-2
      img.articleImg(src=article.image)
    .col-md-8
      h2
        a(href=article.link) #{article.title}
