.col-md-1
  .voteBox
    .upvote
      button.btn.btn-default
        span.glyphicon.glyphicon-chevron-up
    .downvote
      button.btn.btn-default
        span.glyphicon.glyphicon-chevron-down
each article in [{imgUrl: 'http://i.huffpost.com/gen/982231/thumbs/o-FLORIDA-MAN-facebook.jpg', title: 'This man is UGLY!'}]
  .col-md-2
    img.articleImg(src=article.imgUrl)
  .col-md-8
    h2 #{article.title}
    p (will embed article text with article.url)
