/*-----Front Page----*/

.postBox {
  margin-bottom: 20px;
  border: 1px solid black;
}

.voteBox {
  width: 40px;
  display: inline-block;
}

.articleImg {
  width: 100px;
}

.counter {
  width: 40px;
}

.counter h3 {
  text-align: center;
}
